/* 
 * Components 
 * Panel, button, inputs
 */

$border-normal: #ccc;
$border-dark: #444;
$padding-normal: 10px;
$padding-small: 5px;
$color-lightgrey: #fcfcfc;
$color-grey: #f8f8f8;
$color-greyer: #dfdfdf;
$color-darkgrey: #ccc;
$color-blackgrey: #777;
$color-dark: #444;
$color-darker: #111;
$color-black: #000;
$color-white: #fff;
$color-blue-1: #1872ab;
$color-blue-2: #1b6ca0;
$color-blue-3: #0d5f94;

$font-bold-600: 600;

/* Box */
.box {
    border: 1px solid $border-normal;
    margin: 3px 0;
    .heading {
        padding: $padding-small;
        background-color: $color-grey;
        border-bottom: 1px solid $border-normal;

        h1, h2, h3, h4, h5 {
            margin: 3px;
            font-weight: $font-bold-600;
        }
    } 

    .body {
        padding: $padding-normal;
    }

    .footer {
        border-top: 1px solid $border-normal;
        padding: $padding-small;
        background-color: $color-lightgrey;
    }
}

.box.darkbox {
    border: 1px solid $border-dark;
    .heading {
        background-color: $color-dark;
        color: $color-white;
        border-bottom: 1px solid $border-dark;
    }
}

.box.bluebox {
    
    .heading {
        background-color: $color-blue-1;
        color: $color-white;
    }
}

.box.codebox {
    border-left: 10px solid $color-blue-1;

    .heading {
        background-color: transparent;
        color: $color-dark;
        text-align: right;
    }

    .body {

        pre {
            white-space: pre;
            overflow: auto;
            
        }
    }
}


/* Button and link */
button.btn {
    border: 1px solid $color-darkgrey;
    background-color: $color-grey;
    cursor: pointer;
    padding: 2px 8px;
}

button.btn:hover {
    background-color: $color-greyer;
}

button.btn:active {
    color: $color-darkgrey;
}

button.btn.btndark {
    background-color: $color-dark;
    color: $color-white;
    border-bottom: 1px solid $color-darker;
}

button.btn.btndark:hover {
    background-color: $color-darker;
}

button.btn.btndark:active {
    color: $color-dark;
}

button.btn.btnblue {
    background-color: $color-blue-1;
    color: $color-white;
    border-bottom: 1px solid $color-blue-3;
}

button.btn.btnblue:hover {
    background-color: $color-blue-3;
}

button.btn.btnblue:active {
    color: $color-blue-2;
}

a.lnk {
    text-decoration: none;
    cursor: pointer;
}


/* Form */

.frm {
    
    label {
        display: block;
        font-weight: $font-bold-600;
        margin: 5px 0 0 0;
    }

    input, select, textarea {
        display: block;
        border: 1px solid $color-darkgrey;
        margin: 5px 0 10px 0;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    input:focus, textarea:focus {
        border: 1px solid $color-black;
        box-shadow: 0 0 1px 0 $color-blue-1;
    }

    select {
        background-color: $color-grey;
    }

}

/* List */
ul.simple-list {
    list-style: none;
    padding: 0;
    li {
        margin: 0;
    }
}