$color-white: #fff;
$color-blue-1: #1872ab;

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/* Credit : http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear-float:before,
.clear-float:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear-float:after {
    clear: both;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.text-white {
    color: $color-white;
}

.text-blue {
    color: $color-blue-1;
}

.big {
    font-size: 1.1em;
}

.bigger {
    font-size: 1.2em;
}